body{
background-image:url(img/pexels-eva-bronzini-7641151.jpg);
background-position:top center;
background-size:contain;
}
.hub{display:grid;grid-template-columns:repeat(auto-fill,minmax(350px,1fr));gap:1.5rem}

.hub article {
    border: 1px solid rgba(244, 241, 232, .16);
    padding: 2.2rem;
    transition: transform .35s, border-color .35s;
    animation:aparecer .3s .1s ease both;
    animation-timeline:view();
    animation-range:cover 1vh cover 20vh;
}
.hub article:hover {transform:translateY(-6px);border-color:var(--dorado)}
.hub h3{font-family:var(--titulos);font-weight:500;font-size:1.4rem;margin-bottom:.5rem}
.hub p{font-size:.88rem;opacity:.75}
.hub .num{font-family:var(--display);color:var(--dorado);font-size:.8rem;letter-spacing:.2em}
